In [ ]:
import numpy as np
import pandas as pd

#**1. Import pandas and read in the banklist.csv file into a dataframe called banks.**

In [ ]:
banks = pd.read_csv('banklist.csv')

In [ ]:
banks

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Fayette County Bank,Saint Elmo,IL,1802,"United Fidelity Bank, fsb",26-May-17,26-Jul-17
1,"Guaranty Bank, (d/b/a BestBank in Georgia & Mi...",Milwaukee,WI,30003,First-Citizens Bank & Trust Company,5-May-17,26-Jul-17
2,First NBC Bank,New Orleans,LA,58302,Whitney Bank,28-Apr-17,26-Jul-17
3,Proficio Bank,Cottonwood Heights,UT,35495,Cache Valley Bank,3-Mar-17,18-May-17
4,Seaway Bank and Trust Company,Chicago,IL,19328,State Bank of Texas,27-Jan-17,18-May-17
...,...,...,...,...,...,...,...
548,"Superior Bank, FSB",Hinsdale,IL,32646,"Superior Federal, FSB",27-Jul-01,19-Aug-14
549,Malta National Bank,Malta,OH,6629,North Valley Bank,3-May-01,18-Nov-02
550,First Alliance Bank & Trust Co.,Manchester,NH,34264,Southern New Hampshire Bank & Trust,2-Feb-01,18-Feb-03
551,National State Bank of Metropolis,Metropolis,IL,3815,Banterra Bank of Marion,14-Dec-00,17-Mar-05
552,Bank of Honolulu,Honolulu,HI,21029,Bank of the Orient,13-Oct-00,17-Mar-05

#**2. Show the head of the dataframe.**

In [ ]:
banks.head()

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Fayette County Bank,Saint Elmo,IL,1802,"United Fidelity Bank, fsb",26-May-17,26-Jul-17
1,"Guaranty Bank, (d/b/a BestBank in Georgia & Mi...",Milwaukee,WI,30003,First-Citizens Bank & Trust Company,5-May-17,26-Jul-17
2,First NBC Bank,New Orleans,LA,58302,Whitney Bank,28-Apr-17,26-Jul-17
3,Proficio Bank,Cottonwood Heights,UT,35495,Cache Valley Bank,3-Mar-17,18-May-17
4,Seaway Bank and Trust Company,Chicago,IL,19328,State Bank of Texas,27-Jan-17,18-May-17

#**3. What are the column names?**

In [ ]:
print(banks.columns)

Index(['Bank Name', 'City', 'ST', 'CERT', 'Acquiring Institution',
       'Closing Date', 'Updated Date'],
      dtype='object')

#**4. How many States (ST) are represented in this data set?**

In [ ]:
num_states = banks['ST'].nunique()
print(f"Number of unique states: {num_states}")

Number of unique states: 44

#**5. Get a list or array of all the states in the data set.**

In [ ]:
states_list = banks['ST'].unique()
print("List of States:")
print(states_list)

List of States:
['IL' 'WI' 'LA' 'UT' 'NJ' 'AR' 'GA' 'PA' 'TN' 'WA' 'CO' 'PR' 'FL' 'MN'
 'CA' 'MD' 'OK' 'OH' 'SC' 'VA' 'ID' 'TX' 'CT' 'AZ' 'NV' 'NC' 'KY' 'MO'
 'KS' 'AL' 'MI' 'IN' 'IA' 'NE' 'MS' 'NM' 'OR' 'NY' 'MA' 'SD' 'WY' 'WV'
 'NH' 'HI']

#**6. What are the top 5 states with the most failed banks?**

In [ ]:
top_5_states = banks['ST'].value_counts().head()

In [ ]:
top_5_states

ST
GA    93
FL    75
IL    68
CA    41
MN    23
Name: count, dtype: int64

#**7. What are the top 5 acquiring institutions?**

In [ ]:
top_5_acquirers = banks['Acquiring Institution'].value_counts().head()

In [ ]:
top_5_acquirers

Acquiring Institution
No Acquirer                            31
State Bank and Trust Company           12
First-Citizens Bank & Trust Company    11
Ameris Bank                            10
U.S. Bank N.A.                          9
Name: count, dtype: int64

#**8. How many banks has the State Bank of Texas acquired? How many of them were actually in Texas?**

In [ ]:
state_bank_texas = banks[banks['Acquiring Institution'] == 'State Bank of Texas']
total_acquisitions = len(state_bank_texas)
texas_acquisitions = len(state_bank_texas[state_bank_texas['ST'] == 'TX'])
print("State Bank of Texas Acquisitions:")
print(f"Total Acquisitions: {total_acquisitions}")
print(f"Acquisitions in Texas: {texas_acquisitions}")

State Bank of Texas Acquisitions:
Total Acquisitions: 3
Acquisitions in Texas: 1

#**9. What is the most common city in California for a bank to fail in?**

In [ ]:
ca_failures = banks[banks['ST'] == 'CA']
most_common_ca_city = ca_failures['City'].mode().values[0]
print("Most Common City in California for Bank Failures:")
print(most_common_ca_city)

Most Common City in California for Bank Failures:
Los Angeles